{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "users/css/login.css" %}'>
    <link rel="stylesheet" href="{% static 'users/fonts/font.css' %}">
    <title>Вход</title>
</head>
<body>
    <div class="container">
        <form action="{% url 'login_url' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for f in form %}
            <p><label id='{{ f.id_for_label }}'>{{ f.label }}</label><br>{{ f }}</p>
            {% endfor %}
            <button type='submit'>Войти</button>
            <a href='{% url "register_url" %}'>Нет акканута?</a>
        </form>
    </div>
</body>
</html>